<div #detailsToggle hidden data-toggle="modal" data-target="#employeeDetailsModal"></div>

<div class="modal fade" id="employeeDetailsModal" data-backdrop="static">

        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4>Employee Details</h4>
                </div>
        
                <div class="modal-body">

                    <div *ngIf="selectedEmployee; then show else emptyMessage"></div>
                    <ng-template #show>
                        <div class="mb-3 mt-3">
                            <dl class="row" *ngIf="selectedEmployee">
                                <dt class="col-4">Employee Id:</dt>
                                <dl class="col-8">{{selectedEmployee.id}}</dl>
                                <dt class="col-4">Employee Name:</dt>
                                <dl class="col-8">{{selectedEmployee.name}}</dl>
                                <dt class="col-4">Employee Email:</dt>
                                <dl class="col-8">{{selectedEmployee.email}}</dl>
                            </dl>
                        </div>

                        <div *ngIf="employeeDevices.length > 0; then showDevices else noDevices"></div>
                        <ng-template #noDevices>The employee does not have any devices.</ng-template>
                        <ng-template #showDevices>
                            <div class="row mb-1">
                                <h5 class="col-12">Employee Devices:</h5>
                            </div>
                            <table class="table lightweight-table" >
                                <thead>
                                    <tr>
                                        <th class="text-center">Serial Number</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let employeeDevice of employeeDevices">
                                        <td class="text-center">{{employeeDevice.serialNumber}}</td>
                                        <td class="text-center">{{employeeDevice.description}}</td>
                                        <td class="text-center">{{employeeDevice.type}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
                    </ng-template>
                    
                    <ng-template #emptyMessage>
                        <p>Something failed and we cannot load the employee.</p>
                        <p>Please try again...</p>
                    </ng-template>
                   
                </div>
        
                <div class="modal-footer">
                    <button class="btn btn-danger ml-2" data-dismiss="modal" (close)="closeDetails()">Close</button>
                </div>

            </div>
        </div>

</div>
