
<div #formToggle data-toggle="modal" data-target="#deviceFormModal"></div>

<div class="modal fade" id="deviceFormModal" data-backdrop="static">

    <form [formGroup]="deviceForm" novalidate>

        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h4>{{actionName}} Device</h4>
                </div>
        
                <div class="modal-body">
                    <div class="form-group">
                        <label for="dev-serial-num" class="col-form-label">Serial Number*</label>
                        <input id="dev-serial-num" class="form-control" type="text" placeholder="1-255 characters" formControlName="serialNumber">
                        <div *ngIf="deviceForm.controls.serialNumber.invalid && deviceForm.controls.serialNumber.dirty">
                            <p *ngIf="(deviceForm.controls.serialNumber.errors?.required)" class="form-text text-danger font-weight-bold">The serial number is required</p>
                            <p *ngIf="(deviceForm.controls.serialNumber.errors?.minlength)" class="form-text text-danger font-weight-bold">The serial number must be at least 1 character long</p>
                            <p *ngIf="(deviceForm.controls.serialNumber.errors?.maxlength)" class="form-text text-danger font-weight-bold">The serial number must be less than 255 characters</p>
                            <p *ngIf="(deviceForm.controls.serialNumber.errors?.unavailableSerialNumber)" class="form-text text-danger font-weight-bold">The serial number has already been used</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dev-description" class="col-form-label">Description*</label>
                        <input id="dev-description" class="form-control" type="text" placeholder="1-255 characters" formControlName="description">
                        <div *ngIf="deviceForm.controls.description.invalid && deviceForm.controls.description.dirty">
                            <p *ngIf="(deviceForm.controls.description.errors?.required)" class="form-text text-danger font-weight-bold">The description is required</p>
                            <p *ngIf="(deviceForm.controls.description.errors?.minlength)" class="form-text text-danger font-weight-bold">The description must be at least 1 character long</p>
                            <p *ngIf="(deviceForm.controls.description.errors?.maxlength)" class="form-text text-danger font-weight-bold">The description must be less than 255 characters</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dev-type" class="col-form-label">Type*</label>
                        <input id="dev-type" class="form-control" type="text" formControlName="type">
                        <div *ngIf="deviceForm.controls.type.invalid && deviceForm.controls.type.dirty">
                            <p *ngIf="(deviceForm.controls.type.errors?.required)" class="form-text text-danger font-weight-bold">The type is required</p>
                            <p *ngIf="(deviceForm.controls.type.errors?.min)" class="form-text text-danger font-weight-bold">The type must be greater than 1</p>
                            <p *ngIf="(deviceForm.controls.type.errors?.pattern)" class="form-text text-danger font-weight-bold">The type must be an integer</p>
                        </div>
                    </div>
                    <p class="text-secondary">The fields with * are required</p>
                </div>
        
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" (click)="sendData($event)" [disabled]="!deviceForm.valid || !deviceForm.dirty">Submit</button>
                    <button class="btn btn-danger ml-2" data-dismiss="modal" (click)="onCancel($event)">Close</button>
                </div>

            </div>
        </div>
    </form>
</div>
