<div class="container-fluid">
    <div hidden class="testContent"><span>Capstone app is running!</span></div>

    <app-header [disabled]="!database"></app-header>

    <body>

        <div *ngIf="!database;then databaseInitialize else mainApp"></div>
        <ng-template #databaseInitialize>
            <app-database-initiaze (sendConnectionStringEnum)="initializeDatabase($event)"></app-database-initiaze>
        </ng-template>
        <ng-template #mainApp>
                <router-outlet></router-outlet>
        </ng-template>
        
    </body>

    <app-footer [databaseString]="database"></app-footer>
    
</div>

